* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

/* Typography */ 

h1 {
    font-size: 1.85rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    line-height: 3;
    font-size: 1.25em;
}

.container-flex h2 {
    font-size: 1.2rem;
}

p {
    font-size: 1.15rem;
    line-height: 1.5;
}

span,
p {
    letter-spacing: 1.2px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 0.35em;
}

/* Navigation */

.icon-heading {
    display: flex;
    align-items: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    margin: 1.2em 1.75em;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 3em;
}

nav a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover,
nav a:focus,
.active {
    color: #f4a261;
    text-decoration: underline;
}

nav li {
    margin-left: 3em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label,
.nav-close-label {
    cursor: pointer;
}

.nav-toggle:checked ~ .sidebar {
    display: flex;
}

/*  Layout  */

main {
    padding: 2em 1.5em;
}

header {
    padding: 1.25em;
    background-color: whitesmoke;
}

.grid-container,
.container {
    margin: 0 auto;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
    padding: 1.25em;
    background-color: #212529;
    color: #fff;
}


/* Main content */

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Progress bar */

.container-skills{
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 1em;
}

.skills h2 {
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 10px;
    color:#212529;
    font-size: 16px;
}

.progress-bar {
    background-color: #959595;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
}

.progress-bar div span {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html,
.java,
.vs-code{
    background-color: #335c67;
}

.css,
.cmd {
    background-color: #007f5f;
}

.javascript,
.python,
.figma {
    background-color: #e09f3e;
}

.bootstrap,
.git-hub {
    background-color: #9e2a2b;
}

.react,
.sql,
.netlify {
    background-color: #540b0e;
}

.html {
    width: 90%;
}

.css {
    width: 75%;
}

.javascript {
    width: 60%;
}

.bootstrap {
    width: 60%;
}

.react {
    width: 20%;
}

.java {
    width: 40%;
}

.python {
    width: 20%;
}

.sql {
    width: 40%;
}

.vs-code {
    width: 85%;
}

.cmd {
    width: 50%;
}

.figma {
    width: 70%;
}

.git-hub {
    width: 60%;
}

.netlify {
    width: 60%;
}

.html span,
.java span,
.vs-code span {
    border: 2px solid #335c67;
}

.css span,
.cmd span {
    border: 2px solid #007f5f;
}

.javascript span,
.python span,
.figma span {
    border: 2px solid #e09f3e;
}

.bootstrap span,
.git-hub span {
    border: 2px solid #9e2a2b;
}

.react span,
.sql span,
.netlify span {
    border: 2px solid #540b0e;
}



/* My projects */

.post-heading {
    text-align: center;
    margin-top: 2em;
    text-decoration: underline;
}

.view-more,
.blog-card {
    margin-top: 2.5em;
}

.blog-card {
    display: flex;
    flex-direction: column;
}

.blog-card-img {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 1em;
    cursor: pointer;
}

.blog-card-img:hover {
    transform: scale(1.05);
}


.blog-card-heading {
    margin-bottom: -0.3em;
}

.blog-card-date {
    font-size: 1.15rem;
    text-transform: uppercase;
}

.view-more {
    display: block;
    font-size: 1.15rem;
    color: #212529;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1em;
}

/* Media queries */

@media (min-width: 860px) {

    .grid-container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
    }
    .container {
        max-width: 1200px;
    }

    .container-skills{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .skills:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .view-more{
        grid-column: span 3;
        text-align: center;
        font-size: 1rem;
    }

    header {
        padding: 0.65em;
    }


    h2 {
        font-size: 1.25rem;
    }

    h3 {
        line-height: 1.5;
    }

    p {
        line-height: normal;
        letter-spacing: normal;
        font-size: 1rem;
    }

    nav a {
        font-size: 0.85rem;
    }

    .blog-date,
    .blog-card-date {
        font-size: 0.85rem;
    }

    .post-heading {
        margin: 2em 0 -1em 0;
        font-size: 1.15rem;
    }

    .resize{
        padding: 1.5em 3em;
    }

    .profile-flex {
        display: flex;
        gap: 2rem;
    }

    .hideOnDesktop {
        display: none;
    }

}

@media (max-width: 860px) {
    .hideOnMobile {
        display: none;
    }
}



