* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

/*  Typography  */
.contact-form h1 {
    font-size: 3rem;
}

.contact-form h1 span {
    color: #f4a261;

}

.contact-form p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Form */

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;

}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    font-weight: 700;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    background-color: #f4a261;
    transform: scale(1.1);
}

/* Images */
.contact-img {
    position: relative; /* Důležité pro absolutní pozici ::after */
    overflow: hidden; /* Jen pro jistotu, aby nic nevyteklo */
}

.contact-img img {
    display: block;
    width: 100%;
}

.contact-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #191919;

    transform: translateY(1px); 
}

/*  Layout */

.container {
    margin: 0 auto;
}

.contact {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 16rem;
}

section {
    padding: 40px 15%;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 1.25em;
    background-color: whitesmoke;
}

footer {
    text-align: center;
    padding: 1.25em;
    background-color: #212529;
    color: #fff;
}

/*  Navigation */ 
.icon {
    width: 30px;
    height: 30px;
    margin-right: 0.35em;
}

.icon-heading {
    display: flex;
    align-items: center;
}


nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 3em;
}

nav a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover,
nav a:focus,
.active {
    color: #f4a261;
    text-decoration: underline;
}

nav li {
    margin-left: 3em;
}

/*  Media queries   */

@media (min-width: 860px) {

    .container {
        max-width: 1200px;
    }

    header {
        padding: 0.65em;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        line-height: normal;
        letter-spacing: normal;
        font-size: 1rem;
    }

    nav a {
        font-size: 0.85rem;
    }

}
