* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

/*  Typography  */
.contact-form h1 {
    font-size: 3rem;
}

.contact-form h1 span {
    color: #f4a261;

}

.contact-form p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 0.35em;
}

/* Form */

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin: 0.7rem 0;

}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    font-weight: 700;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    background-color: #f4a261;
    transform: scale(1.1);
}

.contact-form label {
    font-weight: 700;

}

/* Images */
.contact-img {
    position: relative;
    overflow: hidden; 
}

.contact-img img {
    display: block;
    width: 100%;
}

.contact-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #191919;

    transform: translateY(1px); 
}

/*  Layout */

.container {
    margin: 0 auto;
}

.contact {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 8rem;
}

section {
    padding: 40px 15%;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 1.25em;
    background-color: whitesmoke;
}

footer {
    text-align: center;
    padding: 1.25em;
    background-color: #212529;
    color: #fff;
}

/*  Navigation */ 
.icon-heading {
    display: flex;
    align-items: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    margin: 1.2em 1.75em;
}



nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 3em;
}

nav a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover,
nav a:focus,
.active {
    color: #f4a261;
    text-decoration: underline;
}

nav li {
    margin-left: 3em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label,
.nav-close-label {
    cursor: pointer;
}

.nav-toggle:checked ~ .sidebar {
    display: flex;
}


.github-link {
    text-decoration: underline;
    color: #f4a261;
    font-weight: bold;
}

.github-link:hover,
.github-link:focus {
    color: #fff;
}

/*  Media queries   */

@media (min-width: 860px) {

    .container {
        max-width: 1200px;
    }

    header {
        padding: 0.65em;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        line-height: normal;
        letter-spacing: normal;
        font-size: 1rem;
    }

    nav a {
        font-size: 0.85rem;
    }

    .hideOnDesktop {
        display: none;
    }

}

@media (max-width: 1200px) {
    .contact{
        grid-template-columns: 1fr;
    }

    .contact-form form .btn {
        width: 100%;
    }

    .contact-img img {
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 860px) {
    .hideOnMobile {
        display: none;
    }
}


/* Styly pro tisk */
@media print {
    nav, .sidebar, .nav-toggle-label, .github-link, .contact-img, .btn { display: none !important; }

    header {
        display: block !important;
        background: none !important;
    }

    body, main, .container {
        width: 100% !important;
        background: white !important;
        color: black !important;
    }
}
